/* 
    Author: Archer Hedgepath
    Date: 3/31/2022

         --- COLORS ---

    - Rosewood    : #5E0B15
    - Taupe Gray  : #8D818C
    - Champagne   : #EEE0CB
    - Rifle Green : #3E442B


*/

*{
    margin: 0;
    padding: 0;
    background: transparent;
    color: #EEE0CB;
}

body{
    background: #5E0B15;
}

nav{
    padding: 14 15px;
    width: 100vw;
    background: #3E442B;
}

li{
    list-style-type: none;
    font-size: 20px;
    padding: 5px;
    color: #EEE0CB;
    font-family: 'Work Sans', sans-serif;
}

li:hover{
    background: #8D818C;
}

a{
    margin: 0;
    text-decoration: none;
}

a:hover{
    opacity: .7;
}

img{
    display: block;
    font-size: 0;
}

h1{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 2em;
    padding: 5px;
    
}
h2{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
}

p{
    font-size: 18px;
    line-height: 1.3em;
    padding: 15px;
    letter-spacing: 1px;
    font-family: 'Work Sans', sans-serif;
}

label{
    font-family: 'Work Sans', sans serif;
    text-align: center;
}

input{
    background: #8D818C;
}

select{
    background: #8D818C;
}
/* #region HOME PAGE */

/* --- Classes --- */

/* --- Page IDs --- */

#EntireBody{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* --- Header IDs --- */

#BannerLogo{
    width: 100vw;
}

#HeaderNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#Header{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

/* --- Body IDs --- */

#MainContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    padding-bottom: 2vh;
}

#BodySectionOne{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2vh;
}

#SubsectionColumnOne{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw;
    align-self: flex-start;
}

#BodySectionTwo{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1.5em;
}

#SubsectionRowOne{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60vw;
}

#SubsectionRowTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40vw;
}

#BodyImage{
    width: 45vw;
    box-shadow: 3px 5px black;
    border-radius: 4px;
    border: solid 1px black;
    height: 30vh;
    align-self: flex-start;
}

#BodyImageTwo{
    width: 35vw;
    box-shadow: 3px 5px black;
    border-radius: 4px;
    border: solid 1px black;
}

/* --- Google Maps --- */
#Maps{
    width: 25vw;
    box-shadow: 3px 5px black;
    border-radius: 4px;
    border: solid 1px black;
}

/* --- Footer IDs --- */
#FooterNavOne{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
}

#FooterNavTwo{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}
/* --- Footer Classes --- */

.fa-facebook{
    background: #3B5998;
    color: white;
}

.fa-instagram{
    background: #125688;
    color: white;
  }

.fa-google{
    background: #dd4b39;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
/* #endregion */

/* Menu Classes */

.TetherMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45 vw;
}

.MenuText{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15vw;
}

.MenuImage{
    width: 30vw;
    height: 40vh;
    box-shadow: 3px 5px black;
    border-radius: 4px;
    border: solid 1px black;
}

/* Menu IDs */

#MenuGrid{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-row-gap: 1em;
    justify-content: space-around;
}

/*  --- #region FORM PAGE ---  */

/* Form Classes */
.List{
    padding-bottom: .5em;
}

.OrderButton{
    padding: 1.5em;
    margin-right: 2em;
    margin-bottom: 1.5em;
}

/* Form IDs */
#MainContentOrder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-around;
    padding-bottom: 2vh;
}

#OrderForm{
    display: flex;
    flex-direction: column;
    width: 55vw;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

#PizzaList{
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    width: 35vw;
}

#Pizza{
    display: flex;
    flex-direction: row;
    width: 35vw;
}

#Address{
    width: 35vw;
}

#PhoneNum{
    width: 35vw;
}

#Name{
    width: 35vw;
}

#Buttons{
    display: flex;
    flex-direction: row;
}

#MoreOrderForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#Testimony{
    width: 35vw;
}
/* #endregion */


/* --- MEDIA QUERIES --- */

@media only screen and (max-width: 578px){
    img{
        display: flex;
        justify-self: center;
    }

    #EntireBody{
        width: 100vw;
    }

    .MenuImage{
        width: 90vw;
        justify-content: center;
        align-items: center;
    }

    .MenuText{
        flex-direction: row;
    }

    #MenuGrid{
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-row-gap: 1em;
        justify-content: space-around;
    }

    .MenuText{
        display: flex;
        width: 90vw;
    }

    #BodyImage{
        width: 100vw;
        box-shadow: 3px 5px black;
        border-radius: 4px;
        border: solid 1px black;
        height: 30vh;
        align-self: flex-start;
    }

    #OrderForm{
        width: 75vw;
    }

    #PizzaList{
        flex-direction: column;
    }

    #Buttons{
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-left: 30px;
    }

    #Testimony{
        width: 100vw;
    }

    form{
        margin-left: 15vw;
    }


}
